:root {
    --color-all:#000000;
}

body {
    margin:0;
    padding:0;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size:4vmin;
    letter-spacing: 2vmin;
    margin:0;
    padding:0;
    width:80vmin;
    text-align: center;
    color:var(--color-all);
}
.main-content {
    display:flex;
    width:100%;
    justify-content: center;
}

#grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-all);
    border:1vmin solid var(--color-all);
}

#grid {
    width:80vmin;
    height:80vmin;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
}

.cell-row {
    display:inline-flex;
    flex: 1 0 auto;
    margin:0;
}

.cell {
    background-color: rgb(241, 241, 241);
    flex: 1 0 0;
    aspect-ratio: 1 / 1;
    margin:0.1vmin;
}

.settings {
    position:absolute;
    display:flex;
    flex-direction: column-reverse;
    left:20vmin;
    height:82vmin;
    gap:5vmin;
}

.color-mode {
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

.button {
    border:1vmin solid var(--color-all);
    height:5vmin;
    width:5vmin;
    cursor:pointer;
}

#size-slider {
    -webkit-appearance: none;
  appearance: none;
  width: 82vmin;
  height: 1.5vmin;
  margin-top:2vmin;
  background: var(--color-all);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#size-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4vmin;
    height: 4vmin;
    border:1vmin solid var(--color-all);
    background: white;
    cursor: pointer; 
}

.add-info {
    width:82vmin;
    display:flex;
    align-items: center;
    margin-top:2vmin;
    justify-content: center;
}

.add-info input {
    all:unset;
    cursor:pointer;
    margin-left:auto;
    font-size:3vmin;
    color: var(--color-all);
}

.slider-value {
    color:var(--color-all);
    font-size:3vmin;
}

  