body {
    margin:0;
    padding:0;
}

#grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10vmin;
}

#grid {
    height:80vmin;
    width:80vmin;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap:1px;
    border:1px solid black;
}

.cell-row {
    flex-grow:1;
    display:flex;
    gap:1px;
}

.cell {
    flex-basis:0;
    background-color: aliceblue;
    flex-grow:1;
}